.order__card {
  background-color: white;
  border-radius: 20px;
  height: 8rem;
  width: 18rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.347);
}
.order__card_div1 {
  padding-left: 20px;
}
.order__card_div2 {
  margin: auto 0;
  padding-right: 20px;
}
